body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgb(0, 150, 187) 0%, rgb(0, 121, 202) 0%, rgb(0, 224, 253) 100%);
    padding-top: 60px;
    padding-bottom: 100px;
}

.container {
    width: 1000px;
    margin: auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

.offer {
    width: 400px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 10px;
}

.title_span {
    font-size: 48px;
    letter-spacing: 3px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.offer_text {
    font-size: 18px;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.header_img {
    width: 480px;
}

.btn {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(223, 219, 23);
    transition: all 0.5;
}

.btn:hover {
    background-color: rgb(219, 217, 81);
    box-shadow: 10px 10px 10px gray;
}

.main {
    padding-top: 30px;
    padding-bottom: 30px;

}

.main_title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.main_block {
    display: flex;
    justify-content: space-between;
}

.block {
    text-align: center;
    width: 25%;
}

.block img {
    margin-bottom: 30px;
}

.form1 {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgb(118, 238, 218);
}
.form2 {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgb(211, 211, 211);
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_item {
    font-size: 18px;
    height: 50px;
    width: 60%;
    margin: 5px;
}

.flex_btn {
    width: 61%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(223, 219, 23);
    transition: all 0.5;
}

.flex_btn:hover {
    background-color: rgb(219, 217, 81);
    box-shadow: 10px 10px 10px gray;
}

.end {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgb(0, 150, 187) 0%, rgb(0, 121, 202) 0%, rgb(0, 224, 253) 100%);
}
.end_text {
    color: white;
    text-align: center;
}



input:invalid {

    border: 2px solid yellow;
}
input:invalid:required {
    border: 2px solid red;
}



@media screen and (max-width: 1200px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 992px) {
    .main_block {
        flex-direction: column;
        align-items: center;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .header_img {
        margin-top: 40px;
        width: 60%;
    }

    .flex_item {
        width: 70%;
    }

    .flex_btn {
        width: 71%;
    }
}